@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
:root {
  --primaryColor: rgb(25, 119, 242);
  --buttonColor: rgb(66, 183, 41);
  --bodyColor: rgb(239, 242, 245);
  --textColor: rgb(27, 30, 33);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}
body {
  background-color: var(--bodyColor);
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: var(--buttonColor);
}
button {
  border: none;
}
a:hover {
  text-decoration: underline;
}
input {
  padding: 7px 7px;
  margin: 2% 2% 2% 2%;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 100%;
  align-items: center;
}
input::placeholder {
  color: gray;
  font-weight: light;
  font-size: 10px;
}
.btn {
  width: 100%;
  border-radius: 3px;
  color: #fff;
  padding: 7px;
}
.main {
  /* margin-right: 10px;
  margin-left: 10px;*/

  margin: auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  max-width: 100%;

  padding-left: 7.5%;

  padding-right: 7.5%;
}

.text__wrapper {
  width: 40vw;
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 5%;
  display: block;
  flex-direction: column;
}
.heading {
  position: relative;
  top: -50%;
  left: -7%;
}

.heading > img {
  width: 460px;
  height: auto;
}
.description {
  color: var(--textColor);
  font-weight: 600;
  font-size: 150%;
  flex-wrap: wrap;
  /*float: left;*/
}
.form__wrapper {
  height: 270px;
  width: 270px;
  margin-top: 5%;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  line-height: 150%;
  display: grid;
  justify-content: center;
  align-items: center;
  float: right;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form {
  margin-top: 2%;
  margin-bottom: 2%;
  width: auto;
  height: auto;
}
.loginButton {
  background-color: var(--primaryColor);
  color: #fff;
  font-size: large;
  margin-top: 2%;
}
hr {
  margin: 20px 0;
  font-size: x-small;
  font-weight: 100;
}
.forgotPassword {
  color: var(--primaryColor);
  font-size: 10px;
  text-align: center;
  border-bottom: 1px solid #bcbdbe;
}
.registerButton {
  background-color: var(--buttonColor);
  color: #fff;
  font-size: 10px;
  width: 60%;
  padding: 8px;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.brand {
  padding-top: 15%;
  padding-bottom: 10%;
  font-size: small;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30%;
  margin-right: 10px;
  margin-left: 10px;
  max-height: 10%;
  max-width: 100%;
  background-color: #f8f9fa;
  padding: 25px 0px;
  border-top: 1px solid #e9ecef;
}
.footer-col {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 75%;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.line {
  border-bottom: 1px solid #bcbdbe;
}
.lan,
.lnk {
  display: inline;
  padding-right: 0.25cm;
  font-size: smaller;
}
.languages {
  display: inline;
  justify-content: space-between;
  align-items: center;
}

footer a {
  color: #6c757d;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  padding-top: 10px;
  color: #6c757d;
  font: bold;
  font-size: 12px;
  float: left;
  margin: 0 1rem;
  padding-left: 0;
}
